.search-manufacturer__option {
    transition: background-color 0.05s, box-shadow 0.05s;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.search-manufacturer__option:hover {
    background-color: rgba(59, 130, 246, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: rgba(59, 130, 246, 0.5);
}